<template>
<div class="filter_wrapper">
    <div class="filter_block_row filter_block">
        <!-- {{ bool_filter }} -->
        <h4>{{ bool_filter.label }}</h4>

        <removeBtn :what="bool_filter.key"  />

        
  
        <div class="filter_row_wrapper" v-for="(f, idx) in bool_filter.params" :key="idx">
            <div class="filter_row" 
                @click="addMod(bool_filter.key, f.value)"
            >

            <span class="material-symbols-outlined selected_value_chevron"
            v-if="$store.state.selectedMods[bool_filter.key] == f.value " >
                chevron_right
            </span>
                <span :class=" f.value ? 'filter_value' : 'filter_value filter_value_filled' ">
                
                    {{ f.value }}</span> - {{ f.label }}<span class="filter_description_text" v-if="f.text">. {{ f.text }}

                </span>
            </div>
        </div>

    </div>
</div>  
<!-- :class="checkAvailability(bool_filter.key, f.value) ? 'filter_row': 'filter_row not_availabled_item'"   -->
</template>

<script>
import removeBtn from './parts/removeBtn'
export default {
    name: 'boolFilter',
    props: {
        bool_filter:Object
    },
    components:{
            removeBtn
        },
    methods:{
        addMod(key, value){

            // if(!this.checkAvailability(key, value)) return false
            this.$store.commit(
                'commitMod', {key, value}
            )
        },

        checkAvailability(key, val){

            let avD = []
            this.$store.state.filteredMods.map(i=>{
            avD.indexOf(i[key])==-1 ? avD.push(i[key]) : false
                
            })

            return avD.indexOf('' + val)>-1
        },

    }
    
}
</script>