<template>
<!--   -->
<div class="filter_block filter_block_row">
<h4>ДИАМЕТР ЦИЛИНДРА (ВНУТРЕННИЙ)</h4>
<removeBtn :what="'d'"  />
    <div class="filter_block_grid diameter_block">
        
        <div v-for="(d, i) in $store.state.d_parts" :key="i"
        :class="checkAvailability(d) ? 'filter_item' : 'filter_item not_availabled_item' "
            @click="addMod('d', d)"
        >
            <span class="d_item piece">{{ d }} мм</span>
        </div>
    </div>
</div>
</template>

<script>

import removeBtn from './parts/removeBtn'
export default {
    name: 'diametersFilte',
    props: {
        diameters:Array
    },
    components:{
            removeBtn
        },
    methods:{
        addMod(key, value){
            if(!this.checkAvailability(value)) return false

            console.log(key, value)
            this.$store.commit(
                'commitMod', {key, value}
            )
        },

        checkAvailability(val){

          let avD = []
          this.$store.state.filteredMods.map(i=>{
            avD.indexOf(i.d)==-1 ? avD.push(i.d) : false
              
          })

          return avD.indexOf('' + val)>-1
      }
    }
    
}
</script>