<template>

    <seriesFilter />
    <!-- Профессиональные фильтры -->
    <template v-if="$store.state.config_mode">

      <diameterFilter :diameters="$store.state.diameters"/>
      <hodSeriesFilter   />
      <hodFilter v-if="false"/>
      <div class="filter_group">
        <template v-for="(filter, idx) in $store.state.bool_filters" :key="idx">
          <boolFilter :bool_filter="filter" />
        </template>
      </div>
    
      <div class="filter_group">
        <template v-for="(range, idx) in $store.state.kv_ranges" :key="idx">
          <rangeFilter :range="range" />
        </template>
      </div>
    </template>
</template>


<script>
import diameterFilter from './diametersFilter.vue'
import boolFilter from './boolFilter.vue'
import seriesFilter from './seriesFilter.vue'
import rangeFilter from './rangeFilter.vue'
import hodFilter from './hodFilter.vue'
import hodSeriesFilter from './hodSeriesFilter'

// :seriaData="$store.state.selectedMods.series.filter((i)=>return i.seria == $store.state.selectedMods.seria)"

export default {
  name: 'FiltersComponent',
  components: {
    diameterFilter,
    boolFilter,
    seriesFilter,
    rangeFilter,
    hodFilter,
    hodSeriesFilter
  },


}


</script>