<template>
  <div>
    <span v-if="$store.state.show_legend">{{ $store.state.selectedMods }}</span>
    <hr>
    <h4>Найдено: {{ $store.state.filteredMods.length }}</h4>
    <div class="pre" v-for="(s, i) in $store.state.filteredMods" :key="i">
        <strong>{{ drowMod(s) }} ({{ s.base }}) - {{ calculatePrice(s) }} ( Базовая цена: {{ s.price }}) руб. </strong>

          <span class="material-symbols-outlined action_icon" @click="openModal(drowMod(s), calculatePrice(s))">
            add_shopping_cart
            </span>
          <div v-if="$store.state.show_legend">
              <br>
          {{ s }} 
          </div>

        <hr>
    </div>
  </div>  
</template>

<script>
export default{
    name: 'FilteredDisplay',

    methods:{
      drowMod(s){
        let mod = ''
        mod = s.seria
        //Записываем диаметр (d)
        if(s.d) mod +='-'+s.d 

        //Записываем ход (hod)
        if(s.hod) mod +='-'+s.hod 

        //Записываем резьбу штока (groove)
        if(s.groove) mod +='-'+s.groove 

        //Записываем исполнение штока (stock)
        if(s.stock) mod +='-'+s.stock 

        //Записываем DA (da)
        if(s.da) mod +='-'+s.da 


        //Записываем удленение штока (E)
        if(s.E) mod +='-'+s.E+'E' 

        //Записываем удленение штока (L)
        if(s.L) mod +='-'+s.L+'L' 

        //Записываем торможение (braking)
        if(s.braking) mod +='-'+s.braking 

        //Записываем материал штока (stock_material)
        if(s.stock_material) mod +='-'+s.stock_material 

        return mod
      },

      calculatePrice(s){

        // цена за 0 ход+(ход*стоимость хода)+((удлинение штока +удлинение резьбы)*цена удлинения)+600 

        let price = s.price
        price = s.hod ? price + s.hod_price*s.hod : price

        price = s.E ? price + s.len_price*s.E : price

        price = s.L ? price + s.len_price*s.L : price

        price = s.seria=="KVNU" ? price*1.25 : price

        // price = price + 600 //Всегда добавляем 600 руб

        return price
      },

      openModal(sku, price){
        console.log(sku, price)
        this.$store.state.modalOpen = true
        this.$store.state.orderData = {
          sku, price
        }
      }
    }

}

</script>