<template>
    <!--   -->
        <div class="filter_block filter_block_row">
            <h4>не cтандартный ход, мм.</h4>
            <div class="filter_item"
            >
                <span>{{ 0 }}</span>
                <input type="range" 
                :min="0" :max="$store.state.maxHod" step="1" 
                    v-model="hod_value" 
                    @change="addMod('hod_value', hod_value)"
                >
                <span>{{ $store.state.maxHod }}</span>
                <input type="number" 
                    v-model="hod_value" 
                    @change="addMod('hod_value', hod_value)"
                >
            </div>
        </div>
</template>

<script>
export default {
        name: 'hodFilter',
        props: {
        },

        data() {
            return {
                hod_value: 0,
                hod_max: 5000
            };
        },
        created(){

        },

        methods:{
            addMod(key, value){
                // if(!this.checkAvailability(value)){
                //     console.log('n/a')
                //     return false
                // }
    
                console.log(key, value)
                this.$store.commit(
                    'commitMod', {key, value}
                )
            },
    
            checkAvailability(val){
    
              let avD = []
              this.$store.state.filteredMods.map(i=>{
                avD.indexOf(i.d)==-1 ? avD.push(i.d) : false
                  
              })
    
              return avD.indexOf('' + val)>-1
          }
        }
        
    }
</script>