<template>
    <!--   -->
    <div class="filter_block filter_block_row">
    <h4>Рабочий ход.</h4>
    <!-- {{ this.seria_data }} -->
    <removeBtn :what="'hod_value'" />
        <div class="filter_block_grid" v-if="$store.state.selectedMods.seria">

            <div class="hod_left hod_header">
                <p>мм</p>
            </div>
            <div class="hod_right hod_header">
                <p>Стандартный ход, мм</p>
            </div>
            <div class="hod_range_row" v-for="(hod_items, d_max_value, idx) in seria_data.hod_parts_pieces" :key="idx">
                
                <div class="hod_left">
                    {{ d_max_value }}
                </div>

                <div class="hod_right">

                    <!-- :class="getMaxD(d_max_value) ? 'hod_range_row' : 'hod_range_row not_av_d'"  -->
                    <!-- Отображаем только подходящий ход -->
                    <template v-if="!getMaxD(d_max_value)">
                        <span class="hod_item piece not_active_piece" v-for="(i, k) in hod_items" :key="k">
                        {{ i }}
                        </span>
                    </template>

                    <template v-else>
                        <span class="hod_item piece" v-for="(i, k) in hod_items" :key="k" @click="addMod('hod_value', i)">
                        {{ i }}
                    </span>
                    </template>



                </div>

            </div>


        </div>

        <div class="filter_item"
        >
            <span> 0 </span>
            <input type="range" 
            :min="0" :max="$store.state.maxHod" step="1" 
                v-model="hod_value" 
                @change="addMod('hod_value', hod_value)"
            >
            <span>{{ $store.state.maxHod }}</span>
            <input type="number" 
                v-model="hod_value" 
                @change="addMod('hod_value', hod_value)"
            >
        </div>
    </div>
    </template>
    
    <script>
    import removeBtn from './parts/removeBtn'

    export default {
        name: 'hodSeriesFilter',
        components:{
            removeBtn
        },
        data() {
            return {
                seria_data: 1,
                hod_value: 0
                };
            },

        beforeUpdate(){
            // console.log('beforeUpdate')
            this.createSeria_data()

        },
        created(){
            this.createSeria_data()
        },

        methods:{
            createSeria_data(){
                // console.log("createSeria_data")
                this.seria_data = this.$store.state.series.filter(i=>{
                    return i.name == this.$store.state.selectedMods.seria
                })[0]
                // console.log(this.seria_data)
                // console.log(this.$store.state.series)
                // Поправить вывод серии от диаметра по увеличению
            },

            addMod(key, value){
                // if(!this.checkAvailability(value)) return false
    
                console.log(key, value)
                this.hod_value = value
                console.log(this.hod_value)
                this.$store.commit(
                    'commitMod', {key, value}
                )
            },
    
            checkAvailability(val){
    
              let avHod_value = []
              this.$store.state.filteredMods.map(i=>{
                avHod_value.indexOf(i.hod_value)==-1 ? avHod_value.push(i.d) : false
                  
              })
    
              return avHod_value.indexOf('' + val)>-1
          },
          getMaxD(d_values){

            let arr_values = d_values.indexOf(', ')>0? d_values.split(', ') : d_values.split('...')
            let last_d_value = arr_values[arr_values.length - 1]
            // console.log(last_d_value)
            // console.log(this.$store.state.selectedMods.d)
            if(last_d_value < this.$store.state.selectedMods.d){
                console.log(last_d_value, 'не подходит')
                return false
            }else{
                console.log(last_d_value, 'подходит')
                return true
            }
            // console.log(d_key)
            // console.log(this.seria_data.hod_parts_pieces[d_key])
          },

        //   get_hod_pieces(hod_item){
        //     console.log(this.seria_data.d_parts)
        //     console.log(hod_item)
        //     let hod_pieces = this.seria_data.d_parts.filter(i=>{
        //         return hod_item<=i
        //     })
        //     return hod_pieces

        //   }
        }
        
    }
    </script>