<template>

        <div class="filter_block filter_block_row">
            <h4>{{ range.label }}</h4>
            <removeBtn :what="range.leter" @click="range_value=0" />
            <div class="filter_item"
            >
                <span>{{ 0 }}</span>
                <input type="range" 
                :min="0" :max="range.max" step="1" v-model="range_value"
                    @change="addMod(range.leter, range_value)"
                >
                <span>{{ range.max }}</span>
                <input type="number" :min="0" :max="range.max" v-model="range_value" @change="addMod(range.leter, range_value)">
            </div>
            <span class="filter_description_text">* 0 - нет удлинения</span>
        </div>
</template>
    
    <script>
    import removeBtn from './parts/removeBtn'
    export default {
        name: 'rangeFilter',
        props: {
            range: Object
        },
        components:{
            removeBtn
        },

        data() {
            return {
                range_value: 0
            };
        },
        // (){
        //     this.range_value = 0
        // },

        methods:{
            addMod(key, value){
                console.log(key, value)
                // if(!this.checkAvailability(value)) return false
                console.log('start comit ')
                
                this.$store.commit(
                    'commitMod', {key, value}
                )
            },
    
            checkAvailability(val){
    
              let avD = []
              this.$store.state.filteredMods.map(i=>{
                avD.indexOf(i.d)==-1 ? avD.push(i.d) : false
                  
              })
    
              return avD.indexOf('' + val)>-1
          }
        }
        
    }
    </script>