<template>

<div class="filter_block">
    <h4>Серия</h4> 
    <removeBtn :what="'seria'" />
    <div class="filter_block_grid" >
        <div :class="checkAvailability(s.name) ? 'filter_item' : 'filter_item not_availabled_item'" 
            v-for="(s, i) in $store.state.series" :key="i"
            @click="addMod('seria', s.name)"
        >

            {{ s.name }}
        </div>
    </div>
    </div>
</template>

<script>
import removeBtn from './parts/removeBtn'

export default {
    name: 'seriesFilter',
    components: {
        removeBtn
    },
    methods:{
        addMod(key, value){
            if(!this.checkAvailability(value)) return false

            this.$store.commit(
                'commitMod', {key, value}
            )

            this.$store.state.config_mode=1
        },
        checkAvailability(val){

          
            let avSeries = []
            this.$store.state.filteredMods.map(i=>{
                avSeries.indexOf(i.seria)==-1 ? avSeries.push(i.seria) : false
                
            })
            return avSeries.indexOf(val)>-1
        }
    }
    
}
</script>