<template>
    <div class="hover" @click="$store.state.modalOpen=false">

    </div>
    <div class="form modal_form">
        <div class="form_legend">
            Заказать: {{ $store.state.orderData.sku }} - {{ $store.state.orderData.price }}₽
        </div>
        <input type="text" placeholder="ФИО">
        <input type="text" placeholder="email">
        <div class="btn">
            Заказать
        </div>

    </div>
</template>

<script>
export default{
    name: "ModalForm"
}
</script>