<template>
<div class="config_actions">

    <input class="show_legend" type="checkbox" @change="$store.state.show_legend = !$store.state.show_legend" id="show_legend">
    <label for="show_legend">Показать легенду</label>

    <span class="congig_btn" @click="setFree()">
        обнулить
    </span>
</div>
    <div class="mode_btn">
        
        <div class="mode_header"> режим:</div>
        <div class="mode_actions">

            <div v-for="(mode, k) in mode_values" :key="k"
                :class="$store.state.config_mode == k ? 'mode_btn_item mode_btn_item_active' : 'mode_btn_item'"
                @click="$store.state.config_mode = k"
            >
                {{ mode }}
            </div>   

        </div>
    </div>   
</template>

<script>
    export default{
        name: 'ModeBtn',
        data(){
            return{
                mode_values:[
                    'обычный', 'профи'
                ]
            }
        },
        methods:{
            setFree(){
                this.$store.state.selectedMods = {}
                this.$store.commit('doFilteredMods')
            }
        }
    }
</script>