<template>

    <div class="remove_btn btn" @click="removeFolter(what)" v-if="$store.state.selectedMods[what]">Сбросить</div>
</template>

<script>
    export default{
        name: 'removeBtn',
        props: {
            what:String
        },
        methods:{
            removeFolter(what){
                this.$store.commit(
                'removeMod', {what}
            )
            }
        }
    }
</script>