:root {
    --main-border-color: #EC5B22;
}

body{
    margin: 0;
    padding: 0;
}
/* fallback */
@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 100 700;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v138/kJEhBvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oFsI.woff2) format('woff2');
  }
  
  .material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }

#app{
    font-family: Roboto, system-ui, sans-serif;
    font-size: 14px;
}
h4{
    margin: 0.8rem 0;
}

.config_wrapper{
    display: flex;
}
.filters_field, .display_field{
    padding: 10px 20px;
}

.filter_wrapper{
    display: flex;
}

.clear_filter{
    cursor: pointer;
}
.filter_block{  
    border: 1px solid var(--main-border-color);
    padding: 10px 20px;
    width: 400px;
    flex-wrap: wrap;
    margin-bottom: 10px;
    position: relative;
}
.filter_block_grid{
    display: flex;
    flex-wrap: wrap;
}
.filter_block_row{
    display: block;
    text-align: left;
}
.filter_row{
    cursor: pointer;
    display: flex;
    margin-bottom: 5px;
    align-items: end;
}
.diameter_block{
    flex-direction: column;
    height: 100px;
}
.filter_row:hover{
    text-shadow: 1px 1px #ccc;
}

.filter_item{
    padding: 5px;
    cursor: pointer;
}
.filter_item input{
    width: 50px;
    margin-left: 20px;
}

span.filter_value {
    
    display: inline-block;
    text-align: center;
    /* line-height: 1; */
}
span.filter_value_filled{
    border: 1px solid var(--main-border-color);
    width: 10px;
    height: 20px;
}

.not_availabled_item,
.not_availabled_item .piece{
    color: #ccc !important;
    cursor: default !important;
}

.filter_description_text{
    font-size: 0.8rem;
}

input[type="range"] {
    width: 200px;
}

.hod_range_row{
    border-bottom: 1px solid;
    display: flex;
    width: 100%;
}
.hod_range_row:last-child{
    border: none;
}

.piece{
    margin: 3px;
    color: var(--main-border-color); 
}

.hod_left{
    border-right: 1px solid;
    width: 60px;
}

.hod_left,
.hod_right{
    padding: 2px 5px;
}
.hod_right{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    
    
}
.hod_right .hod_item{
    cursor: pointer;
    transition: 0.3s;
}

.hod_right .hod_item:hover{
    text-shadow: 1px 1px #ccc;
}


.hod_header{
    padding: 0 5px;
    border-bottom: 1px solid #000;
    color: #000;
}

.filter_block h4{
    text-transform: uppercase;
}

.remove_btn {
    position: absolute;
    top: 10px;
    right: 10px;
}
.btn{
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: var(--main-border-color);
    color: #fff
}

.selected_value_chevron{
    color: var(--main-border-color);
}
.action_icon {
    color: #03c300;
    opacity: 0.3;
    cursor: pointer;
    transition: 0.3s;
}
.action_icon:hover{
    opacity: 1; 
}

.mode_btn{
    position: absolute;
    top: 2px;
    right: 2px;
    font-size: 10px;
    border: 1px solid;
    border-radius: 10px;
    background-color: var(--main-border-color);
    color:#fff
}
.config_actions{
    position: absolute;
    top: 2px;
    right: 100px;  
}
.mode_actions{
    display: flex;
    
}
.mode_header{
    text-align: center;
    font-weight: 700;
}
.mode_btn_item{
    padding: 3px;
    cursor: pointer;
    opacity: 0.3;
    transition: 0.3s;
}
.mode_btn_item:hover{
    opacity: 0.8
}
.mode_btn_item_active{
    opacity: 1
}
.congig_btn{
    border-left: 1px solid;
    margin-left: 5px;
    cursor: pointer;
}

.not_active_piece{
    cursor:default;
    color: #ccc
}
.hover{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: RGBA(0,0,0,0.5);
    z-index: 10
}
.modal_form{
    position: fixed;
    width: 400px;
    left: calc(50vw - 200px);
    height: 200px;
    top: calc(50vh - 100px);
    background-color:#fff;
    z-index: 100;
    padding: 20px;
    display: flex;
    flex-direction: column;

}
.modal_form input{
    display: block;
    width: 96%;
    padding: 5px;
    font-size: 20px;
    margin: 10px 0;

}
.modal_form .btn{
    margin-top: auto;
    text-align: center;
    font-size: 20px;
}
.modal_form .form_legend{
    font-size: 20px;
    font-weight: 700;
}

iframe{
    display: none;
}