<template>

<ModalForm v-if="$store.state.modalOpen"/>
<div class="config_wrapper">
  <ModeBtn />
  <div class="filters_field">
    <FiltersComponent />
  </div>

  <div class="display_field">
    <FilteredDisplay />
  </div>
</div>  

  

</template>

<script>
import FiltersComponent from './components/Filters.vue'
import FilteredDisplay from './components/FilteredDisplay.vue'
import ModeBtn from './components/parts/ModeBtn'
import ModalForm from './components/parts/modalForm'




export default {
  name: 'App',
  components: {
    FiltersComponent,
    FilteredDisplay,
    ModeBtn,
    ModalForm
  },

  data() {
    return {
      basesArr: []
    };
  },
  beforeMount(){



    this.$store.state.kv_prepared_data = this.$store.state.kv_data.map(i=>{
        let row = i

        
        if(i.groove_text=="Внутренняя"){
          row.groove = "F"
        }else{
          row.groove = ""
        }

        if(i.stock_variant_text=="Двусторонний (проходной)"){
          row.stock = "T"
        }else{
          row.stock = ""
        }

        if(i.stock_variant_text_material=="Нерж. сталь SS304"){
          row.stock_material = "304"
        }else{
          row.stock_material = ""
        }
        
        this.$store.state.series.map(s=>{
          if(s.name == i.seria){
            
            row.stock_len_range = s.stock_len_range
            row.groove_len_range = s.groove_len_range
            row.d_range = s.d_range
            row.d_parts = s.d_parts
            row.hod_value = s.hod_value
            row.hod_parts = s.hod_parts
            row.d_max = s.hod_parts[row.d]
            row.da = s.da
            row.addition = s.addition
          }
        if(i.base.includes('-PPV')){
          row.braking = "PPV"
        }else if(i.base.includes('-P')){
          row.braking = "P"
        }  
          
        })

        //DA - цилиндр и опрос положения не учасвуют в модификации

        return row
    })



    this.$store.state.filteredMods = this.$store.state.kv_prepared_data

    this.$store.commit('setMaxHod')
    this.$store.commit('setD_Parts')

    // Устанавливаем значения по умолчанию
    this.$store.state.selectedMods.groove=""
    this.$store.state.selectedMods.stock=""
    this.$store.state.selectedMods.stock_material=""

    //Запускаем фильтр
    this.$store.commit('doFilteredMods')


    // this.$store.commit('setMaxRages')
    

    // this.$store.state.max_ranges

    this.basesArr = this.$store.state.kv_data.map(i=>{
      return i.base.split('-')
    })


    let url = new URL(document.location.href)
    let seria_value = url.searchParams.get('seria')
    // console.log(seria_value)
    if(seria_value){
      this.$store.commit(
                'commitMod', {key: 'seria', value: seria_value}
            )
    }



  }

}
</script>

